{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Crud</title>
</head>
<body>
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/signup">SignUp</a>
        </li>
        <li>
            <a href="/tasks">Tasks</a>
        </li>
        <li>
            <a href="/login">Login</a>
        </li>
    </ul>

    {% block contend %}
    {% endblock %}
</body>
</html>