{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style/style.css' %}">
    <title>Crud</title>
</head>
<body>
    <ul class="menu">
        <li>
            <a class="enlacemenu" href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li>
            <a class="enlacemenu" href="/NewTask">New Task</a>
        </li>
        <li>
            <a class="enlacemenu" href="/tasks">Tasks</a>
        </li>
        <li>
            <a class="enlacemenu" href="/taskComplete">Tasks Complete</a>
        </li>
        <li>
            <a class="enlacemenu" href="/logout">LogOut</a>
        </li>
        {% else %}
        <li>
            <a class="enlacemenu" href="/Signin">Login</a>
        </li>
        <li>
            <a class="enlacemenu" href="/signup">SignUp</a>
        </li>
        {% endif %}
    </ul>

    {% block contend %}
    {% endblock %}
</body>
</html>