{% extends 'Base.html' %}

{% block contend %}
<section class="container">
    <h1>SignUp</h1>
    {{Error}}
    <div class="row">
        <form method="POST" class="col-md-4 offset-md-4">
            <div class="card card-body">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="username">Usuario</label>
                    <input type="text" id="username" name="username" placeholder="Nombre de Usuario">
                </div>
                <div class="mb-3">
                    <label for="password1">Contraseña</label>
                    <input type="password" id="password1" name="password1" placeholder="Escribe Contraseña">
                </div>
                <div class="mb-3">
                    <label for="password2">Confirma contraseña</label>
                    <input type="password" id="password2" name="password2" placeholder="Confirma contraseña"
                        class="input">
                    <button class="btn btn-primary">Signup</button>
                </div>
            </div>
        </form>
    </div>
</section>
{% endblock %}