body{
    text-decoration: none;
}

.menu{
    padding: 1rem;
    background-color: chocolate;
    display: flex;
    justify-content: space-between;
}
.enlacemenu{
    text-decoration: none;
    padding: 1rem;
    margin: 1rem;
    color: aliceblue;
}
ul li a :hover{
    background-color: orange;
}

a{
    text-decoration: none;
}

.tareas {
    width: 100px;
    height: 100px;
    display: flex;
}